<div class="box">
	<strong>2008 September - 2010 August</strong> <a href="http://ysu.am" id="Yerevan State University" target="_blank">Yerevan State University</a>, faculty of Information Technologies.
	<div class="sub">
		Did research and proposed new algorithm for memory BIST march test generation that are detecting given set of functional fault models.
	</div>
	<div class="sub">
		Developed web application to demonstrate research results.
	</div>
	<div class="sub">
		Master's degree.
	</div>
</div>
