<div class="header">
	<div class="center">
		<div class="headerContent">
			<div class="nameRow">
				Gevorg Harutyunyan
			</div>
			<div class="headerRow">
				<div class="left">
					<a href="http://maps.google.com/maps?q=40.207732,44.510014&hl=en&ll=40.207709,44.51069&spn=0.001379,0.00327&sll=40.207797,44.510443&sspn=0.001379,0.00327&t=h&z=19">Armenia, Yerevan, Vratsakan 15/44</a>
				</div>
				<div class="right">
					05/05/1987
				</div>
			</div>
			<div class="clear"></div>
			<div class="headerRow">
				<div class="left">
					(+374) 94236979
				</div>
				<div class="right">
					Armenian,
					Russian,
					English,
					Hebrew
				</div>
			</div>
			<div class="clear"></div>
			<div class="headerRow">
				<div class="left">
					<a href="mailto:i@gevorg.me">i@gevorg.me</a>
				</div>
				<div class="right"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>